 body {
    font-family: Arial, sans-serif;
    background-color:lightgrey;
    margin: 0;
    padding: 0; 
 }
div.menu p,
div.menu a {
    margin: 20px;
}
div.menu p {
    text-decoration: none;
    color: black;
}
.menu{
    background-color: coral;
    color: black;
    padding: 10px;
    display: flex;
    gap: 18px;
    align-items: center;
    border: 35px solid transparent;
    border-radius: 30px;
    box-shadow: 0 0px 32px rgba(0, 0, 0, 0.1);
    margin: 20px;
}
.menu a {
    margin: 20px;
    text-decoration: none;
    color: black;
    font-size: 22.5px;
}
.frase1{
    font-size: 23px;
}
.frase2{
    font-size:23px;
}

