.menu {
    background-color: lightblue;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid black;
    border-radius: 10px;

}
.menu a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px; 
    text-align: left; 
    margin: auto;
}  

